#character-detail-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--header-height);
}

.character-detail-content-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: var(--white-color);
}

.character-img{
    width: 100%;
    object-fit: cover;
}

.info-wrapper{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}

.info-wrapper label{
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.info-wrapper p{
    margin-top: 5px;
    color: #000;
}

@media screen and (min-width: 1024px){
    #character-detail-section{
        height: calc(100vh - var(--header-height));
    }
    
    .character-detail-content-container{
        flex-direction: row;
        gap: 20px;
    }

    .character-img{
        width: 50%;
    } 
}